create or replace procedure update_sal (job_id varchar2,p_Per number) as 
begin
    update employees 
    set new_salary= salary+(p_per/100*salary)
    where job_id = job_id;
END;

ALTER TABLE employees ADD Designation varchar2(40)

select * from employees;
----------
select * from employees;
set serveroutput on;
exec update_sal('AP_PRAS',10);

create or replace procedure update_sal (job_id varchar2,p_Per number) as 
begin
    update employees 
    set new_salary= salary+(p_per/100*salary)
    where job_id = job_id;
END;

exec update_sal('AD_PRES',15);
---
ALTER TABLE employees ADD Designation varchar2(40) 
THEN update employees set new_salary=salary+(percentage/100*salary);
UPDATE customers SET last_name = 'Anderson' WHERE customer_id = 5000;

create procedure designation
---------------

ALTER TABLE employees ADD Designation varchar2(40) 
-------------

1) create procedure that we already created
2) update designation on date basis
3) update email based on job_id .com;

declare
    e_email employees.email%type;
    cursor c_emp is 
        select email from employees;
begin
    open c_emp;
    loop
        fetch c_emp into e_email;
        exit when c_emp%notfound;
 
        update employees
        set email = e_email || '@deloitte.com'
            --import_action = 'update'
        where email = e_email;
 

        -- dbms_output.put_line('email=' || e_email || '@deloitte.com');
    end loop;
    close c_emp;
end;

select * from employees;

update employees set email= replace (email, 'designation.com','');

declare
    cursor c_emp is
        select employee_id, last_name from employees;
 
    TYPE c_emp_rec IS RECORD (
        employee_id employees.employee_id%TYPE
        ,last_name employees.last_name%TYPE
    );
    TYPE c_emp_typ is table of c_emp_rec INDEX BY BINARY_INTEGER;
     c_emp_tbl c_emp_typ;
begin
    open c_emp;
    loop
        fetch c_emp bulk collect into c_emp_tbl Limit 50;
        exit when c_emp%notfound;
 
        for i in 1..c_emp_tbl.count
        LOOP
            update employees
            set email = first_name || c_emp_tbl(i).last_name || '@deloitte.com'
            where employee_id = c_emp_tbl(i).employee_id;
        end loop;
    end loop;
    close c_emp;
end;



-- Less records
declare
    cursor c_emp is
        select employee_id, email from employees;
begin
    for c_emp_rec in c_emp
    LOOP
        update employees
        set email = c_emp_rec.email || '@deloitte.com'
        where employee_id = c_emp_rec.employee_id;
    END LOOP;
end;


create or replace procedure emp_email_update_prc is
    cursor c_emp is
        select employee_id, last_name from employees;
 
    TYPE c_emp_rec IS RECORD (
        employee_id employees.employee_id%TYPE
        ,last_name employees.last_name%TYPE
    );
    TYPE c_emp_typ is table of c_emp_rec INDEX BY BINARY_INTEGER;
     c_emp_tbl c_emp_typ;
begin
    open c_emp;
    loop
        fetch c_emp bulk collect into c_emp_tbl Limit 50;
        exit when c_emp%notfound;
 
        for i in 1..c_emp_tbl.count
        LOOP
            update employees
            set email = first_name || c_emp_tbl(i).last_name || '@deloitte.com'
            where employee_id = c_emp_tbl(i).employee_id;
        end loop;
    end loop;
    close c_emp;
end;
/
select * from employees

exec emp_email_update_prc;

create or replace package employee_operations_pkg 
is
    procedure emp_email_update_prc;
END employee_operations_pkg;


create or replace package body employee_operations_pkg 
AS
    procedure emp_email_update_prc is
        cursor c_emp is
            select employee_id, last_name from employees;
        TYPE c_emp_rec IS RECORD (
            employee_id employees.employee_id%TYPE
            ,last_name employees.last_name%TYPE
        );
        TYPE c_emp_typ is table of c_emp_rec INDEX BY BINARY_INTEGER;
        c_emp_tbl c_emp_typ;
    begin
        open c_emp;
        loop
            fetch c_emp bulk collect into c_emp_tbl Limit 50;
            exit when c_emp%notfound;
            for i in 1..c_emp_tbl.count
            LOOP
                update employees
                set email = first_name || c_emp_tbl(i).last_name || '@deloitte.com'
                where employee_id = c_emp_tbl(i).employee_id;
            end loop;
        end loop;
        close c_emp;
    end emp_email_update_prc;
END employee_operations_pkg;

select * from employees

exec employee_operations_pkg.emp_email_update_prc;

package :

create or replace package employee_user_name_pkg as
    --procedure create_user_name_prc(l_last_name IN employees.last_name%TYPE, l_user_name OUT employees.user_name%TYPE);
    procedure update_user_name_prc; 
end employee_user_name_pkg;


CREATE OR REPLACE PACKAGE BODY employee_user_name_pkg AS
    PROCEDURE create_user_name_prc (
        p_last_name IN employees.last_name%TYPE,
        l_user_name OUT employees.user_name%TYPE
    ) IS
        cnt NUMBER;
    BEGIN
        SELECT
            reverse(substr(reverse(p_last_name),
                           1,
                           3))
        INTO l_user_name
        FROM
            dual;

        SELECT
            COUNT(last_name)
        INTO cnt
        FROM
            employees
        WHERE
            user_name = l_user_name;

        IF cnt > 1 THEN
            l_user_name := l_user_name || '01';
        END IF;
    END create_user_name_prc;

    PROCEDURE update_user_name_prc IS
        CURSOR emp_cur IS
        SELECT
            employee_id,
            last_name
        FROM
            employees;

        l_user_name employees.last_name%TYPE;
    BEGIN
        FOR emp_cur_rec IN emp_cur LOOP
            --create_user_name_prc(emp_cur_rec.last_name, l_user_name);
            UPDATE employees
            SET
                user_name = l_user_name
            WHERE
                employee_id = emp_cur_rec.employee_id;

            COMMIT;
        END LOOP;
    END update_user_name_prc;
END employee_user_name_pkg;

PACKAGE:

create or replace package employees_pkg
as
procedure update_username;
end employees_pkg;
 
 
 
create or replace package body employees_pkg
as
	procedure create_user_name(p_last_name employees.last_name%type
								,l_user_name out employees.user_name%type)
	IS
		V_COUNT NUMBER;
		v_temp employees.user_name%type;
    begin
		select reverse(substr(reverse(p_last_name),1,4)) into l_user_name from dual;
		v_temp := l_user_name;
		LOOP
			select count(*) into v_count from employees where reverse(substr(reverse(p_last_name),1,4))=v_temp;
			if v_count > 0
			then
				v_temp:=l_user_name ||str(v_count);
			else
				exit;
			end if;
		END LOOP;
	end;

    procedure update_username as
        l_user_name employees.user_name%type;
        cursor c1 is 
            select last_name,employee_id from employees;
    begin
        for c1_rec in c1
        loop
			create_user_name(c1_rec.last_name,l_user_name);
			update employees set user_name=l_user_name where employee_id=c1_rec.employee_id;
			commit;
        end loop;
    end update_username;
end employees_pkg;